body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  animation: fall 45s infinite linear;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}
li {
  display: inline;
}
.grid {
  position: relative;
  align-self: center;
  padding: 3rem 0;
}
li > a {
  font-family: "Work Sans", sans-serif;
  color: black;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  transition-property: text-decoration;
  transition-duration: 1s;
}
li > a:hover {
  color: #f0932b;
  text-decoration: underline;
}
li h1 {
  display: inline;
}
.bg-grid {
  background-image: url("./assets/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 500px;
}
.buttons {
  background-color: #c4e538;
  border: none;
  font-family: "Work Sans", sans-serif;
  border-radius: 20px;
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
  color: black;
  text-align: center;

  padding: 10px 32px;
  transition: background-color 1s;
}
.buttons:hover {
  background-color: rgba(196, 229, 56, 0.76);
}

#topNav {
  padding-top: 20;
  position: sticky;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 2px solid #f0932b;
  /* background: linear-gradient(-45deg, #f0932b, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%; */

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.grid-container {
  display: grid;
  vertical-align: middle;
  grid-template-columns: auto auto auto;
  padding: 10px;
  position: relative;
  overflow: hidden;
  position: relative;
  background: linear-gradient(-45deg, #f0932b, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}
.flex-child1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-child2 {
  display: flex;
  padding-right: 40px;
}
.image-container {
  position: absolute;
  right: 20px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.grid-container3 {
  display: grid;
  vertical-align: middle;
  margin: 20px;
  grid-template-columns: auto auto auto;
  box-shadow: -3px 10px 11px -7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -3px 10px 11px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px 10px 11px -7px rgba(0, 0, 0, 0.5);
}
.grid-container2 {
  padding: 10px;
}
.grid1 > h1 {
  font-family: "Playfair Display", serif;
  font-size: 5.5vw !important;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .grid-container2 {
    display: grid;
    vertical-align: middle;
    grid-template-columns: auto auto auto;
  }
}
.grid1 {
  padding: 40px;
}
/*  #imageContainer {
  } */

.carousel {
  align-items: center;
}
p {
  font-family: "Work Sans", sans-serif;
  color: gray;
}
label {
  font-family: "Work Sans", sans-serif;
}
.heading-primary-main {
  animation: moveInLeft 1s ease-in;
}
.heading-primary {
  backface-visibility: hidden;
}
.heading-primary-sub {
  animation: moveInRight 1s ease-in;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

input {
  border: none;
  border-radius: 8px;
  display: block;
  width: 100%;
  padding-left: 10px;
  font-family: "Work Sans", sans-serif;
  height: 58px;
}
textarea {
  border: none;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;

  display: block;
  padding: 5px;
}
.news-button {
  background: rgb(247, 150, 192);
  background: radial-gradient(
    circle,
    rgba(247, 150, 192, 1) 0%,
    rgba(118, 174, 241, 1) 100%
  );
  border: none;

  font-family: "Work Sans", sans-serif;
  border-radius: 8px;
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
  color: white;
  text-align: center;

  height: 58px;
  padding: 0px 20px 0px 20px;
}

.order-button {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8ff78,
    #78ffd6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8ff78,
    #78ffd6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;

  font-family: "Work Sans", sans-serif;
  border-radius: 8px;
  letter-spacing: 1px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: bold;
  color: black;
  text-align: center;

  padding: 10px 20px 10px 20px;
}
.news-button:hover {
  background-color: rgba(196, 229, 56, 0.76);
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.form > div {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 0;
}
input:active {
  border: 1px solid gray;
  border-radius: 8px;

  background: none;
  transition: all 0.1s linear;
}
.footer-container {
  padding: 20px;
}
.border-bottom {
  border-bottom: 1px solid #c8c9cc;
  margin: 20px;
  padding-bottom: 10px;
}

.img-container {
  position: absolute;
  top: 100px;
  right: 40px;
}
.img-container2 {
  position: absolute;
  top: 10px;
}
.grid {
  vertical-align: middle;

  padding: 40px;
}
.menu-container {
  padding: 30px;
}
.order-container {
  min-height: 100vh;
  margin-bottom: 60px;
  overflow: hidden;
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.order-section {
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 0px 40px;
}
select {
  appearance: none;

  background-color: transparent;
  border: 2px solid #1a1a1a;
  padding: 1em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
@media only screen and (max-width: 768px) {
  /* For50px mobile phones: */
  #healthyImage {
    width: 400px;
  }
}

#healthyImage {
  height: auto;
  width: 400px;
}
.playfair {
  font-family: "Playfair Display", serif;
  font-size: 3vw !important;
}
.specials {
  padding: 50px 80px 80px;
}
.center {
  text-align: center;
}
.grid2 {
  text-align: center;
  margin: 8px;
  padding: 8px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.container {
  margin: 20px;
  padding: 77px;
  background-color: #ebebeb;
  border-radius: 8px;
}
.rounded {
  border-radius: 50%;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2014/07/asian-food-menu-C3LK68P-150x150.jpg);
  width: 100px;
  height: 100px;
}
.rounded2 {
  border-radius: 50%;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2020/12/chiles-en-nogada-dish-on-mexican-independence-day-PVRJURW-150x150.jpg);
  width: 100px;
  background-position: center;
  height: 100px;
}
.rounded3 {
  border-radius: 50%;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2015/04/wesual-click-SrX3-GldyL0-unsplash-150x150.jpg);
  width: 100px;
  background-position: center;
  height: 100px;
}
.rounded4 {
  border-radius: 50%;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2014/07/irina-89UsTc5bjsw-unsplash-150x150.jpg);
  width: 100px;
  background-position: center;
  height: 100px;
}
.wrapper {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr)); /* 200px */
  grid-gap: 1rem;
  grid-auto-rows: 20vw; /* 240px */
}
.menu-table {
  margin-left: auto;
  margin-right: auto;
}
.blk-colr {
  color: #1a1a1a;
}
.bold-txt {
  font-weight: 900;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    grid-gap: 0.4rem;
  }
}
.image1 {
  grid-row: 1/3;
}

/* .image2 {
  grid-row: span 2 / auto;
} */
.image3 {
  grid-column: span 2 / auto;
}
.image4 {
  grid-column: span 2 / auto;
  grid-row: span 2 / auto;
}
.wrapper > div {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #23a6d5;
}
.wrapper > div:nth-child(odd) {
  background-color: #23d5ab;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa {
  padding: 14px;
  font-size: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  border: solid;
  background: transparent;
  color: #c8c9cc;
  text-decoration: none;
  margin: 5px 2px;
}
.footer-container > h1 {
  color: #c8c9cc;
  letter-spacing: 2px;
}
footer {
  padding: 30px;
  clip-path: ellipse(93% 100% at 31.08% 100%);
  background-color: #1a1a1a;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/* Contact us 

page style*/

.header {
  height: 70vh;
  background-image: url(https://vip-restaurant.vamtam.com/wp-content/uploads/2016/07/section-title-bg-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}
.header2 {
  height: 70vh;
  background-image: url(https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2020/12/assorted-chinese-dishes-42WBYHV-1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}
.header3 {
  height: 70vh;
  background-image: url(./assets/pexels-quark-studio-3201920.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}
.heading {
  top: 50%;
  color: #fff;
  left: 50%;
  font-size: 32px !important;
  transform: translate(-50%, -50%);
  font-weight: 900;

  position: absolute;
  text-align: center;
}
.subheading {
  color: #cfa670;
}
.blur {
  background: rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.contact-page {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
}
.contact-info > p {
  margin-top: 20px;
}

.form-contact {
  display: grid;
  padding: 50px 80px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 2em;
  position: relative;
  grid-auto-rows: minmax(60vh, auto);
}

.img-1 {
  background-image: url("https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2020/12/volkan-vardar-1H30uRC1plc-unsplash-768x1159.jpg");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url("https://themegoods-cdn-pzbycso8wng.stackpathdns.com/grandrestaurantv6/wp-content/uploads/2014/02/preparing-vegetarian-burrito-chef-grating-cheese-w-KPKW73T.jpg");
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-us-form {
  background-color: #ebebeb;
  border-radius: 20px;

  height: 90%;
  padding: 30px;
}

.recommended {
  min-height: 60vh;

  background-image: url(./assets/wesual-click-SrX3-GldyL0-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shape-top {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
}
.shape-btm {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.leaf {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 100%;
}
.leaf-right {
  position: absolute;
  transform: translate(0%, -50%);
  top: 100%;
  right: 0;
}
.leaf-right2 {
  position: absolute;
  transform: translate(0%, -50%);
  top: 0%;
  right: -1%;
}
